{% extends 'core/base.html' %}
{% block title %} Bedsitter {% endblock %}
{% load static %}

{% block content %}
<main class="single-property">
    <!--Property owner details-->
    <div class="single-property-owner-details">
        <div class="container single-p-o-container">
            <div class="single-p-o-details-wrapper">
                <img class="single-p-o-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <div class="single-p-o-details">
                    <h3>Joshua Akoth</h3>
                    <p>Property Owner</p>
                </div>
            </div>
            <div class="property-owner-contacts">
                <div class="property-owner-btns">
                    <button class="property-owner-call-btn"><i class="fa-solid fa-phone"></i></button>
                    <button class="property-owner-message-btn"><i class="fa-solid fa-comments"></i></button>
                </div>
            </div>
        </div>
        <div class="container house-divider"></div>
    </div>
    <!--End of property owner details-->

    <!--Property details-->
    <div class="single-property-details">
        <div class="container single-property-details-container">
            <div class="property-d-left">
                <img class="property-content-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <div class="property-carousel">
                    <img class="single-p-carousel-img" src="{% static 'images/homebg.jpg' %}" alt="" />
                    <img class="single-p-carousel-img" src="{% static 'images/homebg.jpg' %}" alt="" />
                    <img class="single-p-carousel-img" src="{% static 'images/homebg.jpg' %}" alt="" />
                    <img class="single-p-carousel-img" src="{% static 'images/homebg.jpg' %}" alt="" />
                    <img class="single-p-carousel-img" src="{% static 'images/homebg.jpg' %}" alt="" />
                </div>
                <div class="property-reviews">
                    <form class="review-form">
                        <input class="review-input" type="text" placeholder="Leave a review"/>
                        <button type="submit">Send</button>
                    </form>
                    <div class="reviews-wrapper">
                        <div class="review">
                            <img  class="review-owner-image" src="{% static 'images/homebg.jpg' %}" alt=""/>
                            <div class="desc-name-date">
                                <p>Hey this mansion is amaizing. How many are left!</p>
                                <p class="name-date"><span>Joshua Akoth</span> | 59 minutes ago</p>
                            </div>
                            
                        </div>

                        <div class="review">
                            <img class="review-owner-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                            <div class="desc-name-date">
                                <p>Wow good work!</p>
                                <p class="name-date"><span>Joshua Akoth</span> | 59 minutes ago</p>
                            </div>
                        
                        </div>

                        <div class="review">
                            <img class="review-owner-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                            <div class="desc-name-date">
                                <p>Do you have one in Kitale or Busia?</p>
                                <p class="name-date"><span>Joshua Akoth</span> | 59 minutes ago</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="property-d-right">
                <h4>Comfy Bedsitter House</h4>
                <p><i class="fa-solid fa-location-dot"></i> Nakuru - Umoja1 lanet</p>
                <div class="property-s-ammenities-features">
                    <h5>Ammenities & Feature</h5>
                    <div class="property-s-ammenities">
                        <p>2 Bedroom</p>
                        <p>Regular water</p>
                        <p>Free WI-FI</p>
                        <p>Free DSTV</p>
                    </div>
                </div>
                <p class="property-d-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                    possimus at eos vel inventore aspernatur consectetur fuga. Molestias ad laudantium temporibus
                    accusantium laborum? Magnam suscipit, cupiditate recusandae id iure autem mollitia fuga aliquam
                    tempora voluptates saepe magni, quas ratione eligendi obcaecati ex in inventore? Harum tempore
                    quisquam quo quas maiores soluta inventore distinctio, dolorem earum, necessitatibus consectetur
                    provident. Dolor, voluptates.</p>
                <div class="property-availability-cost">
                    <p class="property-content-cost">Kes 3500 / Month</p>
                    <p class="property-content-availability">Available <i class="fa-solid fa-circle-check"></i></p>
                </div>
                <button class="take-property-btn">Buy property</button>

                <div class="map">
                    <img src="{% static 'images/homebg.jpg' %}" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <!--End of property details-->
</main>
{% endblock %}