{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <title>Document</title>
</head>
<body>
    <main class="register">
        <div class="container">
            <h4>Register To Get Started With Home Finder</h4>
        </div>        
        <form class="register-form" method="POST" action=".">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter username eg John(Not 2 words)" required/>
            <input type="email" name="email" placeholder="Enter email" required/>
            <input type="password" name="password1" placeholder="Enter password" required/>
            <input type="password" name="password2" placeholder="Confirm password" required/>
            <button class="register-btn" type="submit">Register</button>
        </form>
        <p>Aready have an account? <a href="{% url 'login' %}">Login</a></p>
    </main>
</body>
</html>