{% extends 'core/base.html' %}
{% block title %} Properties on sale {% endblock %}
{% load static %}

{% block content %}
<main class="search">
    {% if houses %}
    <div class="filter">
        <div class="container filter-container">
            <p class="filter-title">Filter cost based on your desired range</p>
            <form>
                <input type="text" placeholder="Min Cost" class="filter-min">
                <input type="text" placeholder="Max Cost" class="filter-max">
                <button class="filter-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    
        <div class="container filter-divider"></div>
    </div>
    <div class="houses-wrapper">
        
        <div class="container houses-w-container">            
            {% for house in houses %}
            <a class="house-w-link" href="{% url 'house' house.category.slug house.slug %}">
                <div class="single-w-house">
                    <img class="house-w-image" src="{{house.image.url}}" alt="" />
                    <p class="house-w-title">{{house.title}}</p>
                    <div class="ammenities">
                        <p><i class="fa-solid fa-bed"></i> {{house.bedrooms}} bedrooms</p>
                        <p><i class="fa-solid fa-wifi"></i> Free WI-FI</p>
                    </div>
                    <div class="location-w-cost">
                        <p><i class="fa-solid fa-location-dot"></i> {{house.location}}</p>
                        <p class="house-w-cost">Kes {{house.cost}}</p>
                    </div>
                    {% if house.availability == True %}
                    <p class="availabile">available <i class="fa-solid fa-circle-check"></i></p>
                    {% else %}
                    <p class="not-availabile">Not available <i class="fa-solid fa-circle-xmark"></i></p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>       
        
    </div>
    {% else %}
    <div class="no-result-container">
        <p class="no-results-message">Ops! There are no such search result. Try after a while to see if there will be any
        </p>
    </div>
    {% endif %}
</main>
{% endblock %}