{% extends 'core/base.html' %}
{% block title %}Danson{% endblock %}
{% load static %}

{% block content %}
<main class="created-properties">
    <div class="dashboard-owner-details">
        <div class="container  dashboard-owner-container">
            <div class="dashboard-owner-name-image">
                <img class="dashboard-owner-pic" src="{{property.profileImage.url}}" alt="" />
                <div class="dashboard-owner-name">
                    <h2>{% firstof user.get_full_name user.username %}</h2>
                    <p>You are an owner</p>
                </div>
            </div>
            <a href="{% url 'create-property' %}"><button class="account-btn">Add property</button></a>
        </div>
        <div class="container dashboard-divider"></div>
    </div>

    <!--Properties created-->
    <div class="properties-created ">
        <!-- <div class="container">
            <form method class="search-properties-form">
                <input type='text' placeholder='Search property...' />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div> -->
        <div class="container properties-created-wrapper">
            {% if request.user.properties.all %}
            {% for property in request.user.properties.all %}
            <div class="single-property-created">
                <img class="property-created-image" src="{% static 'images/homebg.jpg' %}" alt=""/>
                <h4 class="property-c-h4">{{property.title}}</h4>
                <div class="property-created-icons">
                    <p><i class="fa-solid fa-heart"></i>{{property.num_of_like}}</p>
                    <div class="property-created-edit-delete">
                        <a href="{% url 'edit_property' property.id %}"><p><i class="fa-solid fa-pen-to-square"></i></p></a>
                        <a href="{% url 'delete_property' property.id %}"><p><i class="fa-solid fa-trash"></i></p></a>
                    </div>
                </div>
            </div>
        {% endfor %}
            {% endif %}

            <!-- <div class="single-property-created">
                <img class="property-created-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <h4 class="property-c-h4">Family House On sale</h4>
                <div class="property-created-icons">
                    <p><i class="fa-solid fa-heart"></i>240</p>
                    <div class="property-created-edit-delete">
                        <p><i class="fa-solid fa-pen-to-square"></i></p>
                        <p><i class="fa-solid fa-trash"></i></p>
                    </div>
                </div>
            </div>

            <div class="single-property-created">
                <img class="property-created-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <h4 class="property-c-h4">Family House On sale</h4>
                <div class="property-created-icons">
                    <p><i class="fa-solid fa-heart"></i>240</p>
                    <div class="property-created-edit-delete">
                        <p><i class="fa-solid fa-pen-to-square"></i></p>
                        <p><i class="fa-solid fa-trash"></i></p>
                    </div>
                </div>
            </div>

            <div class="single-property-created">
                <img class="property-created-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <h4 class="property-c-h4">Family House On sale</h4>
                <div class="property-created-icons">
                    <p><i class="fa-solid fa-heart"></i>240</p>
                    <div class="property-created-edit-delete">
                        <p><i class="fa-solid fa-pen-to-square"></i></p>
                        <p><i class="fa-solid fa-trash"></i></p>
                    </div>
                </div>
            </div>
            <div class="single-property-created">
                <img class="property-created-image" src="{% static 'images/homebg.jpg' %}" alt="" />
                <h4 class="property-c-h4">Family House On sale</h4>
                <div class="property-created-icons">
                    <p><i class="fa-solid fa-heart"></i>240</p>
                    <div class="property-created-edit-delete">
                        <p><i class="fa-solid fa-pen-to-square"></i></p>
                        <p><i class="fa-solid fa-trash"></i></p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</main>
{% endblock %}