{% extends 'core/base.html' %}
{% block title %} Create {% endblock %}
{% load static %}

{% block content %}
<main class="create-tenant">
    
    <form method="POST" action="" enctype="multipart/form-data" class="create-tenant-form">
        {% csrf_token %}
        <div class="instructions-container">
            <p>Please fill all the fields</p>
        </div>
        <div class="tenant-inputs">
            {{form.as_p}}
        </div>
        <button class="add-t-tenant-btn" type="submit">Add tenant</button>
    </form>
</main>
{% endblock %}