@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.auth-name{
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color:inherit;
}

.auth-name span{   
    color:rgb(1, 167, 1);
    cursor: pointer;
}

.register{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
}

.register h4{
    text-align: center;
}

.register-form{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius:7px;
    background-color: #F6F5FD;
}

.register-form input{
    width:calc(100% - 20px);
    padding:13px 10px;
    margin-bottom: 10px;
    border:1px solid beige;
    outline:none;
}

.register-btn{
    width:100%;
    padding: 13px 10px;
    border-radius: 4px;
    color: white;
    border: none;
    background-color: rgb(83, 83, 247);
    outline: none;
    cursor:pointer;
}

/*Login details*/
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
}

.login h4 {
    text-align: center;
}

.login-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    background-color: #F6F5FD;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 13px 10px;
    margin-bottom: 10px;
    border: 1px solid beige;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 13px 10px;
    border-radius: 4px;
    color: white;
    border: none;
    background-color: rgb(83, 83, 247);
    outline: none;
    cursor: pointer;
}

/*===============================================
MEDIA QUERIES
===============================================*/
@media screen and (max-width:600px){
.register-form{
    width:90%;
}

.login-form {
    width: 90%;
    }
}