/*Dashboard owner styling*/
.dashboard {
    width: 100%;
    margin-top: 60px;
}

.dashboard-owner-details{
    width:100%;
    padding:20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-owner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-owner-name-image{
    display: flex;
    align-items: center;
}

.dashboard-owner-pic{
    width:50px;
    height:50px;
    border-radius:50%;
}

.dashboard-owner-name{
    margin-left: 10px;
}

.account-btn{
    padding:10px 7px;
    width:100px;
    color: rgba(0, 0, 0, 0.856);
    border-radius:7px;
    border:1px solid lightgray;;
    background-color: lightgray;
    cursor:pointer;
}

.dashboard-divider {
    margin: 10px 0px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.356);
}
/*End of dashboard owner styling*/

/* Dashboard owner content styling */
.dashboard-owner-content{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-owner-content-container{
    display: flex;
}

.dashboard-messages{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.unread-messages{
    margin-bottom:10px;
}

.unread-messages p{
    padding:10px 3px;
    width:fit-content;
    border-radius: 4px;
    color:white;
    background-color: rgb(1, 167, 1);
}

.dashboard-owner-messages{
    width:100%;  
    max-height: 60vh; 
    overflow: scroll;
    scrollbar-width: none;
    
}

.dashboard-owner-messages::-webkit-scrollbar{
    width:0em;
}

.text{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:10px 4px;
    margin-bottom: 7px;
    border-radius: 4px;
    background-color: #F8F9FC;
    cursor:pointer;
}

.message-img-container{
    width:20%;
}

.message-image{
    width:80px;
    height:50px;
    object-fit: cover;
    border-radius:7px;
}

.message-details{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-left: 20px !important;
}

.text h4{
    color: rgba(0, 0, 0, 0.856);
}

.text p {
    color: gray;
}

.indicator{
    position: absolute;
    top:2px;
    right:2px;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: rgb(1, 167, 1);
}

.dashboard-owner-uploads{
    flex:3;  
    overflow: hidden;  
}

.tenant-navigate{
color:rgb(1, 167, 1);
   cursor:pointer;
   text-decoration: none;
   padding:10px 10px;
    border:1px solid beige;
    display: none;
}

.filter-menu{
    width:100%;
    padding:0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messages-feedback{
    width: calc(100% - 20px);
    padding: 10px 10px;
    border-radius: 7px;
    margin:3px auto;
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: rgba(1, 167, 1, 0.425);
}

.filter-upload-input{
    width:80%;
    padding:13px 7px;
    border-radius: 7px;
    border:1px solid rgb(1, 167, 1);
    outline:0;
}

.create-menu{
    width:50px;
    height:50px;
    padding: 13px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.856);
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

.dashboard-properties-wrapper{
    width:100%;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.single-dashboard-contet{
    position: relative;
    width:100%;
    height:45vh;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
}

.dashboard-c-o-image{
    height:75%;
    width:100%;
    object-fit: cover;
}

.single-d-c-data{
    width:100%;
    padding:10px;
}

.single-d-icons{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.single-d-edit-delete{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:30px;
    right:10px;
    flex-direction: column;
    align-items: center;
    /*display: none;*/
}

.single-d-edit-delete .fa-pen-to-square{
    color:teal;
    cursor:pointer;
}

.single-d-edit-delete .fa-trash {
    color: tomato;
    cursor:pointer;
}

.single-d-menu .fa-ellipsis{
    color:gray;
    cursor:pointer;
}

.single-d-edit-delete p:nth-child(2){
    margin-left: 4px;
}

.dashboard-owner-tenants{
    flex:2;
}

.tenants-number-add{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-tenant-btn{
    text-decoration: none;
    border-radius: 4px;   
    outline: 0;
    cursor:pointer;
    color:rgb(1, 167, 1);
}

.tenants-details-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
}

.tenant-details{
    width:100%;
    margin-bottom: 7px;
    padding:10px;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    background-color: #F8F9FC;
}

.tenant-image-name{
    display: flex;
}

.tenant-image{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit: cover;
}

.tenant-name-room{
    margin-left: 6px;
}

.tenant-name-room a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
}

.tenant-contacts{
    display: flex;
    align-items: center;
}

.tenant-contacts .fa-phone{
    color:rgb(83, 83, 247);
    cursor:pointer;
}

.tenant-contacts .fa-message {
    color: rgba(0, 0, 0, 0.788);
    cursor: pointer;
}

.tenant-contacts p:nth-child(2){
    margin-left: 16px;
}

/* End dashboard owner content styling */

/*Create content styling*/
.create-content{
    width: 100%;
    padding:20px 0px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-wrapper{
    width: 60%;
        border-radius: 4px;
        border: 1px solid #3333331a;
}

.create-edit-container{
    width:100%;
    padding:20px;
    margin-bottom: 10px;
    background-color: beige;
}

.create-content-form{
    width:100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-form{
    width:100%;
    padding:10px;
}

.create-content-form-input{
    width:100% !important;
    margin-bottom: 10px;
    padding:13px 7px;
    border-radius: 4px;
    border: 1px solid #3333331a;
    outline: none;
}

.create-content-form input::placeholder{
    color:rgba(128, 128, 128, 0.589);
}

.label{
    align-self: start;
}

.create-content-form textarea{
    width:clamp(100%, 100%, 100%);
    height:30vh;
    margin-bottom: 10px;
    padding: 13px 7px;
    border-radius: 4px;
    border: 1px solid #3333331a;
    outline: none;
}

.create-content-form textarea::placeholder {
    color: rgba(128, 128, 128, 0.589);
}

.create-content-btn{
    width: 200px;
    padding: 13px 10px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: rgb(83, 83, 247);
    cursor: pointer;
    align-self: start;
}

/*End of create content styling*/

/*===============================================
MEDIA QUERIES
/*===============================================*/

@media screen and (max-width:763px){
.dashboard-owner-content-container{
    flex-direction: column;
}
.tenant-navigate{
    display: block;
}

.create-wrapper{
    width:90%;
}
}