.index{
    width:100%;
    margin-top: 60px;
}

.hero-section{
    height:calc(80vh - 60px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image{
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.hero-section::before{
    position: absolute;
    content:'';
    left:0;
    height:100%;
    width:100%;
    background-color: #000000cc;
    z-index:1;
}

.home-hero-container{
    z-index: 2;
}

.welcome-title{
    font-size: 30px;
    font-weight: 900;
    color:white;
}

.welcome-description{
    margin-top: 20px;
    color:white;
}

.filters{
    margin-top: 10px;
    width:70%;
    display: flex;
}

.filter-input{
    width:40%;
    padding:13px 10px;
    outline: none;
    border: 0.5px solid rgb(1, 167, 1);
}

.filter-select{
    width:40%;
    margin-left: 2px;
    outline: none;
    border:  0.5px solid rgb(1, 167, 1);
}

.search-btn{
    position:relative;
    margin-top: 10px;
    width:200px;
    padding:13px 10px;
    border-radius:50px;
    border:1px solid white;
    color:white;
    background:transparent;
    cursor:pointer;
    overflow: hidden;    
}

.search-btn::after{
    position: absolute;
    content:'Search';
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 50px;
    border: 1px solid rgb(83, 83, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 83, 247);
    transform:translateX(-100%);
    transition: .5s ease-in-out;
}

.search-btn:hover.search-btn::after{
    transform: translateX(0);
}

.search-btn:hover{
    border: 1px solid rgb(83, 83, 247);
}

/*Category section*/
.category-section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-container{
    padding:30px 0px;
}

.category-title{
    font-size:24px;
    font-weight: 900;
}

.category-paragraph{
    color:gray;
}

.tab{
    margin-top: 2px;
    width:100px;
    height:4px;
    background-color: rgb(1, 167, 1);
}

.category-content-wrapper{
    margin-top: 20px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center;
    gap:4px;
}

.single-category{
    height:35vh;
    display: flex;
    overflow:hidden;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.category-image{
    position: absolute;
    top:0;
    height:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.single-category::after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top,
                rgba(0, 0, 0, 0.973),
                rgba(62, 66, 150, 0));
}

.bottom-text{
    position: absolute;
    bottom:10px;
    left:10px;
    z-index:10;
}

.bottom-text p:first-child{
    color:white;
    font-size: 20px;
    font-weight: 700;
}

.bottom-text p:nth-child(2) {
    color: white;
}
/*End of category section*/

/*Random properties section styling*/
.random-properties{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-p-container{
    padding: 30px 0px;
}

.houses-i-wrapper{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 4px;
}

.property-link{
    text-decoration: none;
    color:inherit;
}

.single-house{
    height:45vh;
    border-radius: 5px;
    background-color: beige;
    overflow: hidden;
}

.house-image{
    width:100%;
    height:70%;
    object-fit: cover;
}

.title-price{
    padding:4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price p:nth-child(1){
    width:60%;
    font-size: 18px;
    font-weight: 500;
}

.title-price p:nth-child(2) {
    padding:4px;
    width: max-content;
    text-align: right;
    border-radius: 4px;
    color:white;
    background-color: rgba(1, 167, 1, 0.699);
}

.location-paragraph{
    margin-top: 4px;
    padding:4px;
}


.all-p-btn{
    position: relative;
    margin-top: 10px;
    width: 200px;
    padding: 13px 10px;
    border-radius: 50px;
    border: 1px solid rgb(1, 167, 1);
    color: rgb(1, 167, 1);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}

.all-h-btn{
    position: relative;
    margin-top: 10px;
    width: 200px;
    padding: 13px 10px;
    border-radius: 50px;
    border: 1px solid rgb(1, 167, 1);
    color: rgb(1, 167, 1);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}

.all-h-btn::after {
    position: absolute;
    content: 'All houses';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: white;
    border: 1px solid rgb(1, 167, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 167, 1);
    transform: translateX(-100%);
    transition: .5s ease-in-out;
}

.all-p-btn::after {
    position: absolute;
    content: 'All properties';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color:white;
    border: 1px solid rgb(1, 167, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 167, 1);
    transform: translateX(-100%);
    transition: .5s ease-in-out;
}

.all-p-btn:hover.all-p-btn::after {
    transform: translateX(0);
}

.all-p-btn:hover {
    border: 1px solid rgb(1, 167, 1);
}


.all-h-btn:hover.all-h-btn::after {
    transform: translateX(0);
}

.all-h-btn:hover {
    border: 1px solid rgb(1, 167, 1);
}
/*End Random properties section styling*/

/*Video showcase styling*/
.video-showcase{
    width:100%;
    padding:40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container{
    background-color: beige;
    display: flex;
    padding:10px;
}

.video-c-left{
    width:50%;
}

.video-c-title{
    font-size: 18px;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.856);
}

.video-owner-details{
    margin-top: 25px;
    display: flex;
}

.video-o-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}

.name-phone{
    margin-left: 7px;
}

.name-phone p:first-child{
    font-size: 18px;
    font-weight: 900;
    color:rgba(0, 0, 0, 0.856);
}

.name-phone span{
    width:max-content;
    padding:4px;
    border-radius: 4px;
    color:white;
    background-color: rgb(83, 83, 247);
    cursor:pointer;
}

.video-right{
    width:50%;
    height:50vh;
    border-radius: 10px;
    object-fit: cover;
}
/*End of video showcase styling*/

/*Random owners styling*/
.random-owners{
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-service-wrapper{
    width:100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:4px;
}

.single-service{
    height:200px;
    padding:4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #F6F5FD;
}

.title-icon{
    display: flex;
    justify-content: space-between;
}

.title-icon h4{
    font-size: 20px;
}

.service-description{
    margin-top: 10px;
}
/*End of random owners styling*/

/*===============================================
MEDIA QUERIES
/*===============================================*/

@media screen and (max-width:1060px){
    .video-container{
        flex-direction: column;
    }
        .video-c-left{
            width:100%;
        }

        .video-right{
            width:100%;
            margin-top: 15px;
        }
}

@media screen and (max-width:710px){
    .filters{
        width:100%;
    }    
    .filter-input{
        width:50%;
    }
    .filter-select {
         width: 50%;
    }
    }

@media screen and (max-width:450px){
    .welcome-title {
            font-size: 24px;
        }
    
    .welcome-description {
        margin-top: 16px;
    }
}