.single-property {
    width: 100%;
    margin-top: 60px;
}

/*Property owner details styling*/
.single-property-owner-details{
    width:100%;
    padding-top:20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.single-p-o-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-p-o-details-wrapper{
    display: flex;
}

.single-p-o-details h3{
    color: rgba(0, 0, 0, 0.856);
}

.single-p-o-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}

.single-p-o-details{
    margin-left: 10px;
}

.property-owner-btns {
    display: flex;
}

.property-owner-call-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 13px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(1, 167, 1);
}

.property-owner-message-btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    padding: 13px 4px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(83, 83, 247);
}

/*End of property owner details styling*/

/*Property details styling*/
.single-property-details{
    width:100%;
    padding:20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-property-details-container{
    display: flex;
    justify-content: space-between;
}

.property-d-left{
    width:47%;
}

.property-content-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.property-carousel {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.single-p-carousel-img {
    position: relative;
    width: 150px;
    height: 13vh;
    object-fit: cover;
    opacity: 0.8;
}

.property-d-right {
    width: 47%;
}

.property-d-right h4 {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.856);
}

.property-s-ammenities-features {
    width: 100%;
    margin-top: 10px;
}

.property-s-ammenities {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.property-s-ammenities p {
    width: max-content;
    padding: 10px 7px;
    color: rgba(0, 0, 0, 0.856);
    border-radius: 50px;
    border: 1px solid rgb(1, 167, 1);
}

.property-d-about {
    margin-top: 10px;
}

.property-availability-cost {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.property-content-cost {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    background-color: rgb(1, 167, 1);
}

.property-content-availability {
    margin-left: 10px;
}

.take-property-btn {
    margin-top: 10px;
    width: 97%;
    padding: 13px 7px;
    border: 1px solid rgb(83, 83, 247);
    border-radius: 4px;
    color: white;
    background: rgb(83, 83, 247);
    cursor: pointer;
}

/*End of property details styling*/

/*Property review and map styling*/
.property-reviews{
    margin-top: 10px;
}

.review-form{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-form input{
    width:80%;
    padding:13px 7px;
    border:1px solid rgba(128, 128, 128, 0.575);
    outline:none;
}

.review-form button{
    width:20%;
    padding: 13px 7px;
    border: 1px solid rgb(83, 83, 247);
    color: white;
    background: rgb(83, 83, 247);
    cursor:pointer;
}

.reviews-wrapper{
    width:100%;
    padding:10px 0px;
}

.review{
    width:fit-content;
    margin-bottom: 10px;
    padding:5px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #efefef;
}

.review-owner-image{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
}

.name-date{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.856);
}

.name-date span{
    font-weight: 700;
}

.desc-name-date{
    margin-left: 10px;
}

.map{
    margin-top: 10px;
    width:100%;
    height:50vh;
    overflow:hidden;
}
/*End of property review and map styling*/

/*===============================================
MEDIA QUERIES
/*===============================================*/