.settings{
    width: 100%;
    margin-top: 60px;
    padding:10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-settings{
    width: 60%;
    padding:10px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #3333331a;
}

.form-setting{
    width:100%;
}

.settings-image{
    width:100%;
    height:30vh;
    object-fit: cover;
    border-radius: 7px;
}



.settings-input{
    width:100%;
    padding: 13px 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid rgba(128, 128, 128, 0.247);
    outline: none;
}

.settings-textarea{
    width: 100%;
    padding: 13px 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width:clamp(100%);
    height:40vh;
    border: 1px solid rgba(128, 128, 128, 0.247);
    outline: none;
}

.settings-btn{
    width: 200px;
    padding: 13px 10px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(83, 83, 247);
    cursor: pointer;
}

.settings-delete-btn{
width: 200px;
align-self:end;
padding: 13px 10px;
border-radius: 7px;
border: none;
color: white;
background-color: tomato;
cursor: pointer;
}

/*===============================================
MEDIA QUERIES
===============================================*/

@media screen and (max-width:820px){
.user-settings{
    width:90%;
}
}